<div class="general">
  <div>
    <p class="titulo">Ejemplo de formulario reactivo</p>
    <br /><br />
    <form (submit)="sendit(loginform)" [formGroup]="loginform" >
      <div >
        <label> Usuario:</label>
          <input type='text'  name='customerName' formControlName="customerName" placeholder="nombre de empleado" required/>
        <label> Clave:</label>
          <input type="text" name='lastName1' formControlName="lastName1" placeholder="Primer apellido" required/>

        <label> Clave:</label>
        <input type="text" name='lastName2' formControlName="lastName2" placeholder="Segundo apellido" />

        <label> Clave:</label>
        <input type="text" name='cedula' formControlName="cedula" placeholder="Cedula" required/>

        <label> Clave:</label>
        <input type="text" name='address' formControlName="address" placeholder="Direccion" required/>

        <label> Clave:</label>
        <input type="text" name='telephone' formControlName="telephone" placeholder="Telefono" required/>

      </div>
      <br />
      <div>
        <button type="submit" [disabled] = "!loginform.valid"> Enviar </button>
        <button type="reset" [disabled]="loginform.pristine">Reset</button>
      </div>
    </form>
  </div>
</div>
