<section >
  <app-navbar></app-navbar>
  <app-alert></app-alert>

  <div class="jumbotron border  p-1 " id = "index">
    <div class="row justify-content-around align-items-center">
      <picture>
        <!--      <img src="../assets/imagenes/logoUpmSinFondo.png"  class="rounded float-left escudoUpm col-3" alt="">-->
        <!--      <img src="../assets/imagenes/miw.png"  class="rounded float-left escudoUpm col-4" alt="">-->
      </picture>
    </div>
    <div class=" text-center">
      <div class="row justify-content-center">
        <div class="col-3 text-center"></div>
        <div class="col-6 text-center">
          <h3>Afac</h3>
        </div>
        <div class="col-3 text-center"></div>
      </div>
      <div class="row justify-content-center"></div>
    </div>
  </div>
  <div class="p-2"></div>
  <div class="container">
    <div class="p-2"></div>
    <router-outlet></router-outlet>
  </div>
</section>
