<div>
  <button type="button" class="btn btn-primary" (click)="addEmploye()">Crear empleado</button>
</div>
<table class="table  table-striped">
<thead>
    <tr>
      <th scope="col">nombre <i class="fa-solid fa-sort" (click)="sort('employeeName')"></i> </th>
      <th scope="col">Apellido <i class="fa-solid fa-sort" (click)="sort('lastName1')"></i> </th>
      <th scope="col">Ciudad <i class="fa-solid fa-sort" (click)="sort('city')"></i> </th>
      <th scope="col">Telefono </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{employee.employeeName}}</td>
    <td>{{employee.lastName1}} {{employee.lastName2}}</td>
    <td>{{employee.city}}</td>
    <td>{{employee.telephone}}</td>
  </tr>
  <tr>
    <td align="right"><i class="fa-solid fa-angles-left fa-2x" (click)="rewind()"></i></td>
    <td colspan="2" align="center">
      <span *ngFor="let p of totalPages; let numPage  = index" class="cen">
        <a style="cursor: pointer; text-decoration: none;" (click)="setPage(numPage)"
           [ngClass]="{'text-primary': numPage == page, 'text-black': numPage != page}"> {{ numPage + 1}} &nbsp; &nbsp;</a>
      </span>
    </td>
    <td><i class="fa-solid fa-angles-right fa-2x" (click)="forward()"></i></td>
  </tr>
  </tbody>
</table>
